body {
    background-color: #0d0d2b; 
    color: #00ffcc;           
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ffcc;
    color: #0d0d2b;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.post-item {
    border: 1px solid #00d3c8;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
}

a { color: #5f3b6d; margin-right: 10px; text-decoration: none; }

